<%- page.content %>
<!--PC版-->
<div id="SOHUCS" ></div>
<script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cywcP8MBN',
conf: 'prod_60d6e46bd57aac75974a92c3afea0340'
});
</script>