<div class="widget-wrap" style="margin: 20px 0;">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= theme.ads_side.id %>"
     crossorigin="anonymous"></script>
    <!-- banner -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="<%= theme.ads_side.id %>"
        data-ad-slot="4541467627"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>